<ActionBar class="action-bar">
    <Label class="action-bar-title" [text]="title"></Label>
</ActionBar>

<!--
The TabView component provides a simple way to navigate between different views by
tapping on some of the tabs or by swiping between the views.
Learn more about the TabView component in this documentation article:
http://docs.nativescript.org/angular/code-samples/ui/tab-view
-->
<TabView (selectedIndexChanged)="onSelectedIndexChanged($event)">
  <StackLayout *tabItem="{title: 'Nearby', iconSource: getIconSource('near_me')}">
    <Browse></Browse>
  </StackLayout>

  <StackLayout *tabItem="{title: 'Search', iconSource: getIconSource('search')}">
    <Search></Search>
  </StackLayout>

  <StackLayout *tabItem="{title: 'About', iconSource: getIconSource('home')}">
    <Home></Home>
  </StackLayout>
</TabView>
