<ActionBar class="action-bar">
  <Label text="GrubGuard Santa Cruz"></Label>
</ActionBar>

<!-- I don't know why this combination of property and inline style works
      for androidSelectedTabHighlightColor, but other attempts failed. -->
<TabView (selectedIndexChanged)="onSelectedIndexChanged($event)"
  androidSelectedTabHighlightColor="#FFFFFF"
  style="android-selected-tab-highlight-color: #3FB8C1;">
  <StackLayout *tabItem="{title: 'Nearby', iconSource: getIconSource('near_me')}">
    <Browse></Browse>
  </StackLayout>

  <StackLayout *tabItem="{title: 'Search', iconSource: getIconSource('search')}">
    <Search></Search>
  </StackLayout>

  <StackLayout *tabItem="{title: 'About', iconSource: getIconSource('info')}">
    <Home></Home>
  </StackLayout>
</TabView>
