
<StackLayout *ngIf="!hasPermission">
  <Label text="Couldn't access your current location." class="centered-text text-muted" marginTop="100" fontWeight="bold" textWrap="true"></Label>
  <Label text="Please check the app permissions, or switch to the Search feature." class="centered-text text-muted" marginTop="10" fontWeight="bold" textWrap="true"></Label>
</StackLayout>

<StackLayout *ngIf="!isLoading; else stillLoading" class="page page-content">

<PullToRefresh (refresh)="onPullToRefreshInitiated($event)">
  <ListView [items]="itemList" [itemTemplateSelector]="templateSelector">

    <ng-template nsTemplateKey="item" let-item="item">
      <GridLayout rows="*,*" columns="*,auto" [class]="getStyleClass(item.facility)" (tap)="onItemTap(item.facility)">
        <Label [text]="item.facility.name" row="0" class="list-item-title title-good"></Label>
        <Label [text]="item.facility.address" row="1" col="0" class="list-item-address"></Label>
        <Label [text]="getDistanceString(item.facility)" row="1" col="1"></Label>
      </GridLayout>
    </ng-template>

    <ng-template nsTemplateKey="header" let-item="item">
      <GridLayout columns="*, auto, *" rows="auto">
        <Label col="0" row="0"></Label>
        <StackLayout orientation="horizontal" col="1" row="0">
          <Label text="pull to refresh" class="refresh-label"></Label>
          <Label [text]="getIcon()" class="fa refresh-label"></Label>
        </StackLayout>
        <Label col="2" row="0"></Label>
      </GridLayout>
    </ng-template>

  </ListView>
</PullToRefresh>

</StackLayout>

<ng-template #stillLoading>
  <ActivityIndicator [busy]="isLoading"></ActivityIndicator>
</ng-template>
