// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.
// Font icon class
.fa {
   font-family: "FontAwesome";
}
// Common page class
.page-content {
    .page-placeholder {
        color: $page-icon-color;
        font-size: $page-content-placeholder-font-size;
        vertical-align: center;
        horizontal-align: center;
    }

    .page-icon {
        font-size: 72;
        vertical-align: top;
        horizontal-align: center;
        color: $page-icon-color;
        margin-top: 20%;
    }
}

//Action bar
ActionBar .action-bar-title {
    horizontal-align: center;
}

.list-item {
  margin: 10;
  padding-left: 5;
  border-left-width: 7;

  .list-item-title {
    font-weight: bold;
  }

  .list-item-address {
    color: #bdc3c7;
  }
}

.grade-good {
  border-left-color: green;
}
.grade-okay {
  border-left-color: yellow;
}
.grade-bad {
  border-left-color: red;
}

.facility-detail {
  Label.name {
    margin-top: 10;
    text-align: center;
    font-size: 18;
    font-weight: bold;
  }
  Label.address {
    text-align: center;
    font-size: 14;
    color: #bdc3c7;
  }
  Label.grade-message {
    text-align: center;
    font-size: 14;
  }
  Label.inspections-sign {
    // width: 30%;
    text-align: center;
    font-size: 16;
    border-top-width: 1;
    border-left-width: 1;
    border-right-width: 1;
    // border-color: #bdc3c7;
    // color: #bdc3c7;
  }
  Label.linebreak {
    border-top-width: 1;
    // border-top-color: #bdc3c7;
    // #EAECEE;
  }
}
