<ScrollView>
<StackLayout>
  <Image src="res://logo"
    width="75%"
    horizontalAlignment="center">
  </Image>
  <Label textWrap="true" alignSelf="center" style="text-align: center; width: 100%; margin: 10;" text="GrubGuard Santa Cruz is not affliated with any government agency. It uses publically available health inspection reports to generate scores and grades."></Label>
  <Label textWrap="true" alignSelf="center" style="text-align: center; width: 100%; margin: 10;" text="For the most up-to-date and complete inspection reports, visit the official website of the Santa Cruz County Health Inspector."></Label>
  <Label textWrap="true" alignSelf="center" style="text-align: center; width: 100%; margin: 10;" text="For more information, contact Patrick Landis at patricklandis@gmail.com"></Label>
</StackLayout>
</ScrollView>
