<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Location details"></Label>
</ActionBar>
<StackLayout *ngIf="!isLoading; else stillLoading" class="facility-detail">
  <Label [text]="facility.name" class="name"></Label>
  <Label [text]="facility.address" class="address"></Label>

  <AnimatedCircle *ngIf="!isLoading"
        backgroundColor="transparent"
        width="150"
        height="150"
        animated="true"
        animateFrom="0"
        rimColor="#EAECEE"
        [barColor]="progressColor"
        fillColor="#FFFFFF"
        clockwise="true"
        rimWidth="6"
        [progress]="progressScore"
        [text]="facility.grade"
        [textSize]="getTextSize()"
        [textColor]="getGradeColor()"
        margin="20"
        >
  </AnimatedCircle>

  <!-- <Label [text]="getGradeMessage()" class="grade-message"></Label> -->

  <!-- <Label text="Score calculated using these inspections:" class="inspections-sign"></Label> -->
  <Label class="linebreak"></Label>



  <ListView *ngIf="!isLoading" [items]="itemList" height="100%">
    <ng-template let-item="item">

        <StackLayout style="margin: 10;">
          <Label [text]="parseInspectionDate(item)" style="font-weight: bold;"></Label>

          <Label *ngIf="!hasMajorViolations(item)" text="No major violations this inspection." style="color: green;"></Label>
          <Label *ngFor="let v of parseMajorViolations(item)" [text]="v" style="color: #C0392B;"></Label>

          <Label *ngIf="!hasMinorViolations(item)" text="No minor violations this inspection." style="color: green;"></Label>
          <Label *ngFor="let v of parseMinorViolations(item)" [text]="v" style="color: #F1C40F;"></Label>

          <GridLayout rows="*", columns="auto,auto">
            <Label text="Other violations: " row="0" col="0" style="color: #7F8C8D;"></Label>
            <Label [text]="item.violationsGeneral" row="0" col="1" style="color: #7F8C8D;"></Label>
          </GridLayout>
        </StackLayout>

    </ng-template>
  </ListView>
</StackLayout>
<ng-template #stillLoading>
  <ActivityIndicator [busy]="isLoading"></ActivityIndicator>
</ng-template>
